nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://s3-us-west-2.amazonaws.com/upwardsimages/loan_agreement.jpg" alt="Loan Agreement" width="65" height="25" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://s3-us-west-2.amazonaws.com/upwardsimages/swatika_logo.jpg" alt="Swastika Logo" width="135" height="19" /><br /></strong><strong>________________________________________________________________________</strong></p>
<ol>
<li><span style="font-size: 10pt;"><strong>Loan ID: {{loan_id}}</strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Sanction Date: ____________</strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Name of the Borrower: {{borrower_full_name}} </strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Mobile Number (AADHAAR Linked): {{aadhaar_mob_no}} </strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Alternate Mobile Number: {{alternate_mob_no}} </strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Email ID: {{email_id}} </strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>PAN Number: {{pan}} </strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>AADHAAR Number: {{aadhaar}} </strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Gender: {{gender}} </strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Date-of-Birth (DD-MM-YYYY):  {{dob}} </strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Father&rsquo;s Name: {{fathers_full_name}} </strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Mother&rsquo;s Name: {{mothers_full_name}} </strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Permanent Address:<br />A. Line 1: {{permanent_address_line_1}} <br /> B. Line 2: {{permanent_address_line_2}} <br /> C. City: {{permanent_city}} <br /> D. State: {{permanent_state}} <br /> E. Pincode: {{permanent_pincode}} </strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Current Address:<br />A. Line 1: {{current_address_line_1}}<br /> B. Line 2: {{current_address_line_2}}<br /> C. City: {{current_city}}<br /> D. State: {{current_state}}<br /> E. Pincode: {{current_pincode}}</strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Citizenship: Indian</strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Current Country of Residence: India</strong></span></li></br>
</ol>
<p style="text-align: left;"><strong>________________________________________________________________________</strong></p>
<p><span style="color: #000000;"><strong><span style="font-size: 8pt;"><span style="font-size: 10pt;">Borrower Name: {{borrower_full_name}} </span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></strong></span></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>________________________________________________________________________</strong></p>
<p style="text-align: left;"><span style="font-size: 8pt;"><strong>Please feel free to reach us on <a href="mailto:help@go-upwards.com">help@go-upwards.com</a> or 96101 39500, if you face any issues. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1</strong></span></p>
<div style="page-break-after: always"></div>
<p style="text-align: left;"><strong><img src="https://s3-us-west-2.amazonaws.com/upwardsimages/upwards_logo.png" alt="Upwards Logo" width="107" height="29" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://s3-us-west-2.amazonaws.com/upwardsimages/loan_agreement.jpg" alt="Loan Agreement" width="65" height="25" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://s3-us-west-2.amazonaws.com/upwardsimages/swatika_logo.jpg" alt="Swastika Logo" width="135" height="19" /><br /></strong><strong>________________________________________________________________________</strong></p>
<ol start="17">
<li><span style="font-size: 10pt;"><strong>Highest Education Qualification: {{qualification}} </strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Nature Of Employment: {{nature_of_employment}}</strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Current Employer Name: {{company}}</strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Profession Type: {{occupation}} </strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Employer Type (Private/Public/Government): {{company_type}} </strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Monthly Salary(Rs): {{salary}} </strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Marital Status: {{maritial_status}}</strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Number of Dependents: {{number_of_dependents}}</strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Vehicle Ownership: {{vehicle_ownership}}</strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Vehicle Registration Number: {{vehicle_registration_number}}</strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Loan Type: EMI Based Long Tenure Personal Loan</strong></span></li></br>
<li><span style="font-size: 10pt;"><strong>Loan Amount Sanctioned(Rs):  {{loan_amount}} </strong></span></li></br>
</ol>
<p><span style="font-size: 10pt;"><strong><u>Declaration</u></strong></span></p>
<p><span style="font-size: 10pt;"><strong>(1)&nbsp;&nbsp; I/We have read and understood the relative terms and conditions. We accept and agree to be bound by the terms and conditions of sanction and repayment terms.</strong></span></p>
<p><span style="font-size: 10pt;"><strong>(2)&nbsp; I/We understand that the sanction of the loan facility is at the sole discretion of Swastika Fin-Mart Pvt. Ltd. (SFMPL)</strong></span></p>
<p><span style="font-size: 10pt;"><strong>(3)&nbsp; I/We understand that SFMPL has the right to recall the funds if they are not used for the stated purpose and/or without giving any reasons whatsoever during the pendency of the loans, and the decision of SFMPL to this effect shall be final.</strong></span></p>
<p><span style="font-size: 10pt;"><strong>(4) I/We confirm that I/we am/are not debarred, suspended, penalized or black-listed by Government or any other Authorities</strong></span></p>
<p><span style="font-size: 10pt;"><strong>(5)&nbsp; I/We confirm that the information furnished above is true and correct in all respects to the best of our knowledge and belief.</strong></span></p>
<p><span style="font-size: 10pt;"><strong>&nbsp;</strong></span></p>
<p style="text-align: left;"><strong>________________________________________________________________________</strong></p>
<p><span style="color: #000000;"><strong><span style="font-size: 8pt;"><span style="font-size: 10pt;">Borrower Name: {{borrower_full_name}} </span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></strong></span></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>________________________________________________________________________</strong></p>
<p style="text-align: left;"><span style="font-size: 8pt;"><strong>Please feel free to reach us on <a href="mailto:help@go-upwards.com">help@go-upwards.com</a> or 96101 39500, if you face any issues. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2</strong></span></p>
<p style="text-align: left;"><strong><img src="https://s3-us-west-2.amazonaws.com/upwardsimages/upwards_logo.png" alt="Upwards Logo" width="107" height="29" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://s3-us-west-2.amazonaws.com/upwardsimages/loan_agreement.jpg" alt="Loan Agreement" width="65" height="25" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://s3-us-west-2.amazonaws.com/upwardsimages/swatika_logo.jpg" alt="Swastika Logo" width="135" height="19" /><br /></strong><strong>________________________________________________________________________</strong></p>
<p style="text-align: left;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="font-size: 10pt;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;SANCTION LETTER</span></strong></p>
<p style="text-align: left;"><span style="font-size: 10pt;"><strong>Date: {{present_date}} </strong></span></p>
<p style="text-align: left;"><span style="font-size: 10pt;"><strong>To</strong></span></p>
<p style="text-align: left;"></p> {{borrower_full_name}} 
<p style="text-align: left;"></p> {{current_address_line_1}}, {{current_address_line_2}}, {{current_city}}, {{current_state}}, {{current_pincode}} 

<p><span style="font-size: 10pt;"><strong>Sub.: Loan sanction Letter</strong></span></p>
<p><strong><span style="font-size: 10pt;">Dear Sir,</span></strong></p>
<p><strong><span style="font-size: 10pt;">With reference to your request for sanction of the facility, we are pleased to inform you that following credit facilities has been sanctioned to you with the terms and conditions as under:-</span></strong></p>
<ol>
<li><strong><span style="font-size: 10pt;">Facility: Personal Loan</span></strong></li>
<li><strong><span style="font-size: 10pt;">Loan Amount (Rs): {{loan_amount}} </span></strong></li>
<li><strong><span style="font-size: 10pt;">Margin(if any): None</span></strong></li>
<li><strong><span style="font-size: 10pt;">Moratorium Period (if any): None</span></strong></li>
<li><strong><span style="font-size: 10pt;">Loan Tenure: {{loan_tenure}} Months/Mode of Repayment: EMI </span></strong></li>
<li><strong><span style="font-size: 10pt;">Rate Of Interest: {{interest_rate}} % Per month, Method Of Calculation: Flat </span></strong></li>
<li><strong><span style="font-size: 10pt;">EMI (in Rs): {{loan_emi}}, Method Of Calculation: Flat </span></strong></li>
<li><strong><span style="font-size: 10pt;">Processing Fee (In Rs): {{loan_processing_fee}}</span></strong></li>
<li><strong><span style="font-size: 10pt;">Pledge Charges (if any): None</span></strong></li>
<li><strong><span style="font-size: 10pt;">Security: PDC/UDC and ECS or NACH Mandate</span></strong></li>
<li><strong><span style="font-size: 10pt;">Number of PDC/UDC: 4 (Four)</span></strong></li>
<li><strong><span style="font-size: 10pt;">Cheque Return Charges: Rs 500/- per instance</span></strong></li>
<li><strong><span style="font-size: 10pt;">Pre-Payment Charges: None</span></strong></li>
<li><strong><span style="font-size: 10pt;">Documentation:</span></strong></li>
<ol>
<li><strong><span style="font-size: 10pt;">Duly filled KYC/C-KYC form of borrower along with necessary document proofs</span></strong></li>
<li><strong><span style="font-size: 10pt;">Acceptance of sanction letter</span></strong></li>
<li><strong><span style="font-size: 10pt;">Execution of loan agreement</span></strong></li>
<li><strong><span style="font-size: 10pt;">Demand Promissory Note for the loan account & Letter of Continuity</span></strong></li>
<li><strong><span style="font-size: 10pt;">UDCs towards repayment of principal, interest and other charges (payable at par), in favour of Swastika Fin-Mart Pvt. Ltd. along with covering letter</span></strong></li>
<li><strong><span style="font-size: 10pt;">Signature verification of the borrower executing the documents and signing the cheques</span></strong></li>
<li><strong><span style="font-size: 10pt;">Any other document as per the policy of the company</span></strong></li>
</ol>
</ol>
<p><strong><span style="font-size: 10pt;">&nbsp;</span></strong><strong><span style="font-size: 10pt;">I/We accept all the terms.</span></strong></p>
<p><strong>________________________________________________________________________</strong></p>
<p><span style="color: #000000;"><strong><span style="font-size: 8pt;"><span style="font-size: 10pt;">For Swastika Fin-Mart Private Limited &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; For Borrower {{borrower_full_name}} </span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></strong></span></p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;| &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;| &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
<p style="text-align: left;"><strong>________________________________________________________________________</strong></p>
<p style="text-align: left;"><span style="font-size: 8pt;"><strong>Please feel free to reach us on <a href="mailto:help@go-upwards.com">help@go-upwards.com</a> or 96101 39500, if you face any issues. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3</strong></span></p>
<p style="text-align: left;"><strong><img src="https://s3-us-west-2.amazonaws.com/upwardsimages/upwards_logo.png" alt="Upwards Logo" width="107" height="29" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://s3-us-west-2.amazonaws.com/upwardsimages/loan_agreement.jpg" alt="Loan Agreement" width="65" height="25" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://s3-us-west-2.amazonaws.com/upwardsimages/swatika_logo.jpg" alt="Swastika Logo" width="135" height="19" /><br /></strong><strong>________________________________________________________________________</strong></p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="color: #808080; font-size: 10pt;">(To be stamped as Agreement)</span></p>
<p><span style="font-size: 10pt;">&nbsp;</span></p>
<p><span style="font-size: 10pt;">This Loan Agreement is executed as on  {{present_date}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;at the place {{city}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;hereto between Mr./ Ms. {{borrower_full_name}}</span><span style="font-size: 10pt;">&nbsp;</span></p>
<p><span style="font-size: 10pt;">S/o,D/o. {{fathers_full_name}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Age: {{age}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Yrs,</span></p>
<p><span style="font-size: 10pt;">Address</span></p>
<p>&nbsp; {{current_address_line_1}} </p>
<p>&nbsp; {{current_address_line_2}} </p>
<p>&nbsp; {{current_city}} </p>
<p>&nbsp; {{current_state}} </p>
<p>&nbsp; {{current_pincode}} </p>
<p><span style="font-size: 10pt;">of the <strong>First Part</strong>, hereinafter called the &ldquo;Borrower (s)&rdquo; AND <strong>Swastika Fin-Mart Private Limited</strong> [CIN : U65923MP2009PTC022801], a NBFC within the meaning of the Companies Act, 1956 and having its registered office at 48, Jaora Compound, MYH Road, Indore, M.P.- 452001, of the <strong>Second Part</strong>, hereinafter called &ldquo;LENDER&rdquo; and / or &ldquo;SFMPL&rdquo;</span></p>
<p><span style="font-size: 10pt;">The expression &lsquo;Part&rsquo; unless repugnant to the context, is deemed to include legal heirs, executors, administrators and assigns</span></p>
<p><span style="font-size: 10pt;">WHEREAS at the request of the Borrower (s), the SFMPL has agreed to grant a loan not exceeding the amount mentioned in the Annexure to this loan agreement to the Borrower (s) for a period as mentioned in the Annexure on terms and conditions hereinafter contained.</span></p>
<ol>
<li><span style="font-size: 10pt;">The Borrower (s) accepts the loan and agrees to repay the amount in accordance with the terms and conditions set out in this Agreement.</span></li>
</ol>
<ol start="2">
<li><span style="font-size: 10pt;">The Borrower (s) agreed to pay interest, additional interest, penalty and other charges payable on the loan as per the Annexure,</span></li>
</ol>
<ol start="3">
<li><span style="font-size: 10pt;">The Borrower (s) will provide post dated / undated signed cheques as per the term of sanction to the loan by SFMPL. The Borrower (s) shall not close the mentioned bank account or stop payment of cheques deposited / ECS without prior intimation to SFMPL and in case the mentioned account required to close, will intimate to SFMPL and the Borrower (s) shall replace all existing cheques with fresh cheques of new bank account. Also agreed to inform about the changes in any relevant detail i.e. Address, Email, mobile and other contact details etc., to SFMPL immediately.</span></li>
</ol>
<p><strong>________________________________________________________________________</strong></p>
<p><span style="color: #000000;"><strong><span style="font-size: 8pt;"><span style="font-size: 10pt;">Party Of The Second Part &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Party Of The First Part {{borrower_full_name}} </span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></strong></span></p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;| &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;| &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
<p style="text-align: left;"><strong>________________________________________________________________________</strong></p>
<p style="text-align: left;"><span style="font-size: 8pt;"><strong>Please feel free to reach us on <a href="mailto:help@go-upwards.com">help@go-upwards.com</a> or 96101 39500, if you face any issues. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 4</strong></span></p>
<p style="text-align: left;"><strong><img src="https://s3-us-west-2.amazonaws.com/upwardsimages/upwards_logo.png" alt="Upwards Logo" width="107" height="29" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://s3-us-west-2.amazonaws.com/upwardsimages/loan_agreement.jpg" alt="Loan Agreement" width="65" height="25" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://s3-us-west-2.amazonaws.com/upwardsimages/swatika_logo.jpg" alt="Swastika Logo" width="135" height="19" /><br /></strong><strong>________________________________________________________________________</strong></p>
<ol start="4">
<li><span style="font-size: 10pt;">The Borrower (s) shall utilise the said Loan only for the purpose as applied for.</span></li>
<li><span style="font-size: 10pt;">The rights, powers and remedies given to the SFMPL by this agreement shall be in addition to all rights, powers and remedies given to the SFMPL by virtue of any other security, statute or rule of law.</span></li>
<li><span style="font-size: 10pt;">The Borrower (s) shall indemnify and hold the SFMPL harmless from and against any and all losses, damages or other consequences which may arise or result from giving the Loan to the Borrower (s) and shall reimburse the SFMPL upon demand all such sums.</span></li>
<li><span style="font-size: 10pt;">Repayment of any amount towards loan shall always be adjusted in the order of interest, cost and other charges and at last towards principal outstanding amount of the loan.</span></li>
<li><span style="font-size: 10pt;">Any notice or demand hereunder shall be deemed to be given or made on the day it was so left at borrower&rsquo;s registered address or registered email id or telephone/mobile, or two business days following that on which it was so posted.</span></li>
<li><span style="font-size: 10pt;">The Securities (if any) and the Promissory Note given by the Borrower (s) to SFMPL would be a continuing Security to SFMPL for all monies, which are due from the Borrower (s).</span></li>
<li><span style="font-size: 10pt;">In&nbsp; the&nbsp; event&nbsp; of&nbsp; any&nbsp; dispute,&nbsp; difference&nbsp; or&nbsp; question&nbsp; arising&nbsp; between&nbsp; the&nbsp; parties&nbsp; hereto&nbsp; in relation to or in connection with anything to be done under this agreement, it shall be referred to arbitration before the arbitrator appointed with mutual consent, within the prescribed time limit as per Limitation Act, 1963, same will be governed by and construed in all respect with the Indian Laws and any matter&nbsp; or&nbsp; issues&nbsp; arising&nbsp; hereunder&nbsp; or&nbsp; any dispute&nbsp; hereunder&nbsp; shall&nbsp; be&nbsp; subject&nbsp; to&nbsp; the jurisdiction of the Courts of the City of Indore, MP.</span></li>
<li><span style="font-size: 10pt;">The Borrower (s) confirms that he/ she/it is not debarred, suspended, penalized or black-listed by the SEBI, RBI, the Stock Exchange(s), Income Tax, or any other Regulatory Authority;</span></li>
<li><span style="font-size: 10pt;">The borrower agreed that SFMPL have right to hold his/her credit balance in account with any of the group company or holding company of SFMPL, against outstanding balance in loan account with SFMPL and if required SFMPL may get transfer of funds directly against outstanding balance in loan account.</span></li>
<li><span style="font-size: 10pt;">Any grievance relating to this Loan may be addressed to: Principal Officer, Swastika Fin-Mart Private Limited, 48, Jaora Compound, MYH Road, Indore &ndash; 452001 (MP)</span></li>
</ol>
<p><span style="font-size: 10pt;">&nbsp;<strong>Note:</strong> SFMPL reserves its sole right to change the aforesaid terms and conditions of the loan by giving three working days notice.</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>________________________________________________________________________</strong></p>
<p><span style="color: #000000;"><strong><span style="font-size: 8pt;"><span style="font-size: 10pt;">Party Of The Second Part &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Party Of The First Part {{borrower_full_name}} </span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></strong></span></p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;| &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;| &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
<p style="text-align: left;"><strong>________________________________________________________________________</strong></p>
<p style="text-align: left;"><span style="font-size: 8pt;"><strong>Please feel free to reach us on <a href="mailto:help@go-upwards.com">help@go-upwards.com</a> or 96101 39500, if you face any issues. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5</strong></span></p>
<p style="text-align: left;"><strong><img src="https://s3-us-west-2.amazonaws.com/upwardsimages/upwards_logo.png" alt="Upwards Logo" width="107" height="29" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://s3-us-west-2.amazonaws.com/upwardsimages/loan_agreement.jpg" alt="Loan Agreement" width="65" height="25" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://s3-us-west-2.amazonaws.com/upwardsimages/swatika_logo.jpg" alt="Swastika Logo" width="135" height="19" /><br /></strong><strong>________________________________________________________________________</strong></p>
<p><span style="font-size: 10pt;"><strong>ANNEXURE&nbsp;</strong></span></p>
<ol>
<li><strong><span style="font-size: 10pt;">Loan Amount (Rs): {{loan_amount}} </span></strong></li>
<li><strong><span style="font-size: 10pt;">Facility: Personal Loan</span></strong></li>
<li><strong><span style="font-size: 10pt;">Loan Tenure: {{loan_tenure}} Months/Mode of Repayment: EMI </span></strong></li>
<li><strong><span style="font-size: 10pt;">Security: PDC/UDC and ECS or NACH Mandate</span></strong></li>
<li><strong><span style="font-size: 10pt;">Repayment Terms: {{loan_tenure}} EMIs of Rs {{loan_emi}} each (Term Loan)</span></strong></li>
<li><strong><span style="font-size: 10pt;">Rate Of Interest: {{interest_rate}} % Per month, Method Of Calculation: Flat </span></strong></li>
<li><strong><span style="font-size: 10pt;">Processing Fee (In Rs): {{loan_processing_fee}}</span></strong></li>
<li><strong><span style="font-size: 10pt;">Stamping & Legal Charges (In Rs): Included In Processing Fees</span></strong></li>
<li><strong><span style="font-size: 10pt;">Cheque Return Charges: Rs 500/- per instance</span></strong></li>
<li><strong><span style="font-size: 10pt;">Penal Interest: {{penalty_rate}} % pa above the normal rate of interest.</br>Note: Penal interest would be levied on the entire outstanding loan amount for the period for which the amount including all charges is outstanding and/or any terms under this agreement not fulfilled.</span></strong></li>
<li><strong><span style="font-size: 10pt;">Margin(if any): None</span></strong></li>
<li><strong><span style="font-size: 10pt;">Moratorium Period (if any): None</span></strong></li>
<li><strong><span style="font-size: 10pt;">Pledge Charges (if any): None</span></strong></li>
<li><strong><span style="font-size: 10pt;">Number of PDC/UDC: 4 (Four)</span></strong></li>
<li><strong><span style="font-size: 10pt;">Pre-Payment Charges: None</span></strong></li>
</ol>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>________________________________________________________________________</strong></p>
<p><span style="color: #000000;"><strong><span style="font-size: 8pt;"><span style="font-size: 10pt;">Borrower Name: {{borrower_full_name}} </span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></strong></span></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>________________________________________________________________________</strong></p>
<p style="text-align: left;"><span style="font-size: 8pt;"><strong>Please feel free to reach us on <a href="mailto:help@go-upwards.com">help@go-upwards.com</a> or 96101 39500, if you face any issues. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6</strong></span></p>
<p style="text-align: left;"><strong><img src="https://s3-us-west-2.amazonaws.com/upwardsimages/upwards_logo.png" alt="Upwards Logo" width="107" height="29" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://s3-us-west-2.amazonaws.com/upwardsimages/loan_agreement.jpg" alt="Loan Agreement" width="65" height="25" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://s3-us-west-2.amazonaws.com/upwardsimages/swatika_logo.jpg" alt="Swastika Logo" width="135" height="19" /><br /></strong><strong>________________________________________________________________________</strong></p>
<p><span style="font-size: 10pt;"><strong>DEMAND PROMISSORY NOTE&nbsp;</strong></span></p>
<p>&nbsp;</p>
<p><span style="font-size: 10pt;">To</span></p>
<p><span style="font-size: 10pt;"><strong>Swastika Fin-Mart Pvt. Ltd (SFMPL)</strong></span></p>
<p><span style="font-size: 10pt;">48, Jaora Compound, MYH Road,</span></p>
<p><span style="font-size: 10pt;">Indore &ndash; 452001 (MP)</span></p>
<p><span style="font-size: 10pt;">&nbsp;</span></p>
<p><span style="font-size: 10pt;">PLACE:&nbsp; {{city}} </span></p>
<p><span style="font-size: 10pt;">Date:&nbsp; {{present_date}}</span></p>
<p><span style="font-size: 10pt;">&nbsp;</span></p>
<p><span style="font-size: 10pt;">ON DEMAND I/we unconditionally promise to pay on demand to Swastika Fin-Mart Pvt. Ltd. (SFMPL) (include its successors and assigns) or Order, a sum of Rs. {{loan_amount}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;with interest thereon at the rate of __________ per month or at such rate as SFMPL may from time to time fix or at a rate which may from time to time be assigned by SFMPL for value received.&nbsp; Presentment for payment and noting and protest of this Note are hereby unconditionally and irrevocably waived.</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>________________________________________________________________________</strong></p>
<p><span style="color: #000000;"><strong><span style="font-size: 8pt;"><span style="font-size: 10pt;">Borrower Name: {{borrower_full_name}} </span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></strong></span></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>________________________________________________________________________</strong></p>
<p style="text-align: left;"><span style="font-size: 8pt;"><strong>Please feel free to reach us on <a href="mailto:help@go-upwards.com">help@go-upwards.com</a> or 96101 39500, if you face any issues. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 7</strong></span></p>
<p style="text-align: left;"><strong><img src="https://s3-us-west-2.amazonaws.com/upwardsimages/upwards_logo.png" alt="Upwards Logo" width="107" height="29" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://s3-us-west-2.amazonaws.com/upwardsimages/loan_agreement.jpg" alt="Loan Agreement" width="65" height="25" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://s3-us-west-2.amazonaws.com/upwardsimages/swatika_logo.jpg" alt="Swastika Logo" width="135" height="19" /><br /></strong><strong>________________________________________________________________________</strong></p>
<p style="text-align: left;"><span style="font-size: 10pt;"><strong>LETTER OF CONTINUING SECURITY</strong></span></p>
<p><span style="font-size: 10pt;">&nbsp;</span></p>
<p><span style="font-size: 10pt;">Date: {{present_date}} &nbsp;</span></p>
<p><span style="font-size: 10pt;">&nbsp;</span></p>
<p><span style="font-size: 10pt;"><strong>Subject: Loan of Rs. {{loan_amount}} &nbsp;</strong></span></p>
<p><span style="font-size: 10pt;">&nbsp;</span></p>
<p><span style="font-size: 10pt;">With reference to the Demand Promissory Note dated  {{present_date}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;executed by me / us in your favour for Rs. {{loan_amount}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; and given to you as security for the repayment of any sum and interest now and from time to time due to the SFMPL by me / us on account of the above mentioned Credit facilities.</span></p>
<p><span style="font-size: 10pt;">&nbsp;</span></p>
<p><span style="font-size: 10pt;">I/We jointly and severally do hereby agree and undertake that the said Demand Promissory Note is to be a continuing security for the ultimate balance and interest remaining unpaid in the Loan/overdraft limit&nbsp; Account and I/We are to remain liable on the said Promissory Note notwithstanding the fact that by payments made to the account of the said Loan/overdraft limit&nbsp; account from time to time and said Loan/overdraft limit&nbsp; account may from time to time be reduced or extinguished or even that the balance of the said account may be at credit.</span></p>
<p><span style="font-size: 10pt;">&nbsp;</span></p>
<p><span style="font-size: 10pt;">Yours faithfully,</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>________________________________________________________________________</strong></p>
<p><span style="color: #000000;"><strong><span style="font-size: 8pt;"><span style="font-size: 10pt;">Borrower Name: {{borrower_full_name}} </span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></strong></span></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>________________________________________________________________________</strong></p>
<p style="text-align: left;"><span style="font-size: 8pt;"><strong>Please feel free to reach us on <a href="mailto:help@go-upwards.com">help@go-upwards.com</a> or 96101 39500, if you face any issues. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 8</strong></span></p>
<p style="text-align: left;"><strong><img src="https://s3-us-west-2.amazonaws.com/upwardsimages/upwards_logo.png" alt="Upwards Logo" width="107" height="29" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://s3-us-west-2.amazonaws.com/upwardsimages/loan_agreement.jpg" alt="Loan Agreement" width="65" height="25" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://s3-us-west-2.amazonaws.com/upwardsimages/swatika_logo.jpg" alt="Swastika Logo" width="135" height="19" /><br /></strong><strong>________________________________________________________________________</strong></p>
<p><span style="font-size: 10pt;"><strong>PDC/UDC COVERING LETTER</strong></span></p>
<p><span style="font-size: 10pt;">&nbsp;</span></p>
<p><span style="font-size: 10pt;">Dear Sir</span><span style="font-size: 10pt;">&nbsp;</span></p>
<p><span style="font-size: 10pt;"><strong>Ref: Facility Agreement dated  {{present_date}}  executed by me/us in favour of the Swastika Fin-Mart Pvt. Ltd.</strong></span></p>
<p><span style="font-size: 10pt;">Please find enclosed crossed Post-dated and/or undated cheques /&nbsp; Security cheques drawn in favour of Swastika Fin-Mart Pvt. Ltd. bearing the following particulars being submitted towards repayment of the loan availed from your company (NBFC).</span></p>
<p><span style="font-size: 10pt;">The Post dated and/or undated cheques /Security cheques contain my and/or my authorized signatories genuine signature, which shall not be disputed by me.</span></p>
<p><span style="font-size: 10pt;">Detail of same is as-</span></p>
<ol>
<li><span style="font-size: 10pt;">Numbers of UDC/PDC&rsquo;s: 4</span></li>
<li><span style="font-size: 10pt;">Cheque#1 Number: ________________&lt;<em>to be left blank and filled later&gt;</em></span></li>
<li><span style="font-size: 10pt;">Cheque#2 Number: ________________&lt;<em>to be left blank and filled later&gt;</em></span></li>
<li><span style="font-size: 10pt;">Cheque#3 Number: ________________&lt;<em>to be left blank and filled later&gt;</em></span></li>
<li><span style="font-size: 10pt;">Cheque#4 Number: ________________&lt;<em>to be left blank and filled later&gt;</em></span></li>
<li><span style="font-size: 10pt;">Drawee Bank: {{bank}} &nbsp;</span></li>
<li><span style="font-size: 10pt;">IFSC Code: {{ifsc}} &nbsp;</span></li>
</ol>
<p><span style="font-size: 10pt;"><strong>I/We agree that,</strong></span></p>
<ol>
<li><span style="font-size: 10pt;">a) the Post dated / undated cheques / Security cheques are given towards loan repayments / instalments of the debt due and payable by me / us to your company in terms of the Loan Agreement dated  {{present_date}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;.</span></li>
<li><span style="font-size: 10pt;">b) that I/we will not close the Bank Account of which I have given the above PDC&rsquo;s and/or UDC&rsquo;s during the currency of the loan.</span></li>
<li><span style="font-size: 10pt;">c) that in case of change of my/us Bank and/or authorised signatory, I/ we undertake to replace the cheques appropriately and in the event of non replacement of the cheques before the due dates, I/we undertake to honour the Post Dated / Undated Cheques / Security cheques.</span></li>
<li><span style="font-size: 10pt;">d) that I /we will not make stop payment of any of the above PDC and/or UDC in any case.</span></li>
</ol>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>________________________________________________________________________</strong></p>
<p><span style="color: #000000;"><strong><span style="font-size: 8pt;"><span style="font-size: 10pt;">Borrower Name: {{borrower_full_name}} </span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></strong></span></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>________________________________________________________________________</strong></p>
<p style="text-align: left;"><span style="font-size: 8pt;"><strong>Please feel free to reach us on <a href="mailto:help@go-upwards.com">help@go-upwards.com</a> or 96101 39500, if you face any issues. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 9</strong></span></p>